html,
body {
    margin: 0;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    background-position: center center;
    background-attachment: fixed;
    background-image: linear-gradient(
        -55deg,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 10%,
        rgba(255, 0, 0, 0.8) 36%,
        rgb(3, 48, 131) 65%,
        rgba(3, 48, 131, 20) 82%,
        rgba(30, 87, 153, 55) 100%
    );
    background-size: auto 100vh;
}

main {
    flex-wrap: wrap;
    padding: 15px calc(15px + 3vw);
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin: 0 5px;

    h2 {
        margin: 1em 0 0.25em 0;
        text-transform: uppercase;
        font-size: 1.25em;
        letter-spacing: 1.15;
    }
}

.charList {
    display: flex;
}

.char {
    width: 100px;
    height: 150px;
    position: relative;
    margin: 0 0 0 -5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        z-index: 40;
    }

    img {
        width: auto;
        height: 100%;
        position: absolute;
        z-index: 20;
    }

    b {
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 25;
        text-align: center;
        text-shadow: 2px 2px 1px #000, -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000;
        white-space: wrap;
        width: 100%;
        white-space: normal;
        padding: 0 0.5em;
        box-sizing: border-box;
        line-height: 0.85;
    }
}

#top {
    padding: 15px calc(15px + 3vw);
    max-width: 1280px;
    margin: 40px auto;
    display: flex;

    #selected {
        flex: 1 1 33%;
        height: 350px;
        display: flex;
        align-items: center;
        padding: 50px 0;

        img {
            height: 100%;
            transform: scale(1.25);
            width: auto;
            z-index: 5;
        }

        .textbox {
            margin-left: -3em;
            z-index: 10;
        }

        h3 {
            letter-spacing: -3px;
            margin-bottom: 1.5%;
            line-height: 0.9em;
            font-weight: 800;
            font-style: italic;
            transform: scale(1, 1.15);
            text-transform: uppercase;
            font-size: calc(20px + 2vw);
            margin: 0;
        }

        h4 {
            line-height: 1;
            font-size: 1.5em;
            margin: 0.5em 0;
        }

        button {
            border: 0;
            width: auto;
            overflow: visible;
            -webkit-appearance: none;
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            background: #fff;
            padding: 10px 20px;
            margin: 20px 0;
            position: relative;
            line-height: 1;
            transition: all 0.15s ease-out;
            white-space: nowrap;

            &:after {
                content: "";
                background: #fff;
                display: block;
                position: absolute;
                right: -16px;
                top: 0;
                height: 31.824px;
                width: 31.824px;
                transform: rotate(45deg);
                margin: auto;
                bottom: 0;
                z-index: 1;
            }

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }

    #team {
        flex: 1 1 50%;
        background-image: url("./img/kofbacklogo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 350px;
        position: relative;

        &:after {
            content: "m3ow.gitlab.io/kof-xv-char-select";
            display: block;
            position: absolute;
            bottom: 5px;
            left: 5px;
        }

        .teamchar {
            position: relative;
            flex: 1 1 33%;
            flex-grow: 0;
            width: 33%;
            max-width: 33%;
            margin: 0 -2vw;
            z-index: 50;

            &:nth-child(1) {
                transform: scale(1.1) translateY(-10px) rotate(-3deg);
                b {
                    bottom: 150px;
                    transform: scale(1, 1.2) rotate(4deg);
                    text-shadow: -8px 5px 0 rgba(0,0,0,0.4);
                }
            }

            &:nth-child(2) {
                transform: translateY(15px) scale(1.15);
                z-index: 60;
                b {
                    bottom: 100px;
                    transform: scale(1, 1.2);
                    text-shadow: 2px 8px 0 rgba(0,0,0,0.4);
                }
            }

            &:nth-child(3) {
                transform: scale(1.1) translateY(-10px) rotate(3deg);
                b {
                    bottom: 150px;
                    transform: scale(1, 1.2) rotate(-4deg);
                    text-shadow: 8px 5px 0 rgba(0,0,0,0.4);
                }
            }

            b {
                display: inline-block;
                position: absolute;
                bottom: 20px;
                height: 20px;
                letter-spacing: -1.5px;
                line-height: 0.9em;
                font-weight: 800;
                font-style: italic;
                transform: scale(1, 1.15);
                text-transform: uppercase;
                font-size: calc(10px + 1vw);
                z-index: 99;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                word-break: break-word;
                word-spacing: 50000px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

#team:after, footer {
    font-size: 12px;
    font-family: monospace;
}

footer {
    position: relative;
}