doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        script(inline src="./js.js")
        script(inline src="../node_modules/html2canvas/dist/html2canvas.min.js")
        link(inline rel="stylesheet" href="./style.css")

    body
        div#top
            div#selected
            div#team
        main
            each team in data
                div.team
                    h2 #{team.name}
                    div.charList
                        each char in team.chars
                            div.char(data-id=char.id data-full=char.full data-name=char.name data-title=char.title data-thumb=char.thumb)
                                img(src='img/' + char.thumb)
                                b #{char.name}
        footer &copy;SNK CORPORATION ALL RIGHTS RESERVED.
